<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/resources :: head}" />
    <title>Le Nostre Pizze</title>
</head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>
    <h1 class="text-center">Pizze</h1>
    <hr>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <table class="table" th:if="${pizze.size() > 0}">
                    <thead>
                        <tr>
                            <th>Pizza</th>
                            <th>Ingredienti</th>
                            <th>Prezzo</th>
                            <th>Dettagli</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizze : ${pizze}" th:object="${pizze}">
                            <td>[[*{name}]]</td>
                            <td>[[*{description}]]</td>
                            <td>[[*{price}]] €</td>
                            <td><a th:href="@{'/pizze/' + ${pizze.id}}" class="btn btn-success btn-lg">Dettagli</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p th:text="'Ci dispiace, ma al momento non ci sono pizze'" th:unless="${pizze.size() > 0}"></p>
    </main>
</body>

</html>