<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/resources :: head}"></th:block>
    <title>CicciosPizza</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <h1>HOMEPAGE</h1>
        <hr>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi earum animi, sapiente fugit libero
            expedita, quam sed fugiat magnam quasi iusto rem repudiandae tempore ad modi vitae eum! Aut?</p>
    </div>
</body>

</html>